# database files
*.db

# ignores all generated artifacts from build_features.py & predict.py
data/
models/

# python cache
__pycache__/
*.pyc

# environment variables (!!! api key !!!)
.env

# editor
.vscode/
.idea/
